@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400&display=swap');

*{
  margin:0;
  padding:0;
  font-family: 'Ubuntu', sans-serif;
}

